<div class="block h-screen bg-gray-300 ">
    <div class="flex justify-center p-4">
        <div class="">
            <img class="w-20 h-20 rounded-full" src="assets/img/bbc.png" alt="">
        </div>
        <div class="pt-6 pl-10 text-2xl font-bold">
            <h1>Liste des produits de succursale: <span class="text-red-600">{{ products[0].succursales[0].succursale
                    }}</span></h1>
        </div>
    </div>
 <div class="flex items-center justify-center">
    
    <div class="flex items-center justify-between w-2/3 text-xl font-bold ">
        
            <h3 class="text-2xl text-red-600">Nombre de produits: <span>{{products.length}}</span></h3>
       
            <h3 class="text-2xl text-blue-600">Quantite en Stock: <span>{{getTotalQuantity()}}</span></h3>
       
    </div>
</div>

    <div class="flex items-center justify-center ">
        <div class="items-center w-2/3 bg-white rounded-lg shadow-lg">


            <div class="flex justify-between p-4">
                <h4 class="pt-2 ml-10 text-xl">Rechercher par: </h4>
                <div>
                    <select name="" id=""
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
                        <option value="">Nom produit</option>
                    </select>
                </div>

                <div>
                    <input type="text" name="" id="" placeholder="Saisir votre produit ici"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
                </div>

                <div class="pr-10">
                    <button type="button"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Rechercher</button>
                </div>
                <div class="">
                    <div>
                        <button type="button"
                            class="text-white bg-gray-400 hover:bg-gray-400 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Imprimer</button>
                        <button type="button"
                            class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Etat</button>
                    </div>
                    <div class="pl-16">
                        <button type="button"
                            class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-2 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Le
                            stock</button>
                    </div>
                </div>

            </div>

            <div class="flex items-center justify-between p-4">
                <div>
                    <span>show </span>
                    <select name="" id=""
                        class="text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
                        <option value="">3</option>
                    </select>
                    <span> entries</span>

                </div>
                <div>
                    <span>search: </span>
                    <input type="search" name="" id=""
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
                </div>
            </div>

            <div class="relative overflow-x-auto shadow-md xl:rounded-lg">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead
                        class="text-sm font-bold text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Code
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Produit
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Catégorie
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Prix
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Quantité
                            </th>
                            <th scope="col" class="px-6 py-3">
                                <button type="button" (click)="addProduct()"
                                    class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Ajouter</button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="border dark:bg-gray-900 dark:border-gray-700" *ngFor="let product of products">
                            <th scope="row"
                                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{ product.code }}
                            </th>
                            <td class="px-6 py-4">
                                {{ product.libelle }}
                            </td>
                            <td class="px-6 py-4">
                                {{ product.categorie.libelle }}
                            </td>
                            <td class="px-6 py-4">
                                {{ product.succursales[0].prix }}
                            </td>
                            <td class="px-6 py-4">
                                {{ product.succursales[0].quantite }}
                            </td>
                            <td class="flex p-2 px-6 py-4 justify-arround">
                                <button type="button"
                                    class="px-2 py-1 mb-2 mr-2 text-sm font-medium text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Details</button>
                                <button type="button"
                                    class="px-2 py-2 mb-2 mr-2 text-sm font-medium text-white bg-yellow-300 rounded-lg hover:bg-yellow-300 focus:ring-4 focus:ring-yellow-300 dark:bg-yellow-600 dark:hover:bg-yellow-300 focus:outline-none dark:focus:ring-yellow-300">Editer</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <div class="flex items-center justify-center">
        <nav aria-label="Page navigation example flex justify-center items-center">
            <ul class="inline-flex h-10 -space-x-px text-base">
                <li>
                    <a href="#"
                        class="flex items-center justify-center h-10 px-4 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
                </li>
                <li>
                    <a href="#"
                        class="flex items-center justify-center h-10 px-4 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
                </li>
                <li>
                    <a href="#"
                        class="flex items-center justify-center h-10 px-4 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
                </li>
            </ul>
        </nav>
    </div>

</div>